.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entryButtonContainer {
    padding: 5px 0;
}

.entryButton {
    display: inline-block;
    background-color: #171421;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.entryButton:hover {
    transform: scale(1.03);
}

.pcUsername {
    color: #26a269;
    margin-right: 8px;
}

.pcCommand {
    color: #fff;
}